@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "HirukoPro-Black";
    src: url("/fonts/HirukoPro-Black.ttf");
    font-weight: 700;
    font-style: normal;
  }
}

:root {
  --foreground-colour: #000;
  --background-start-colour: #d6dbdc;
  --background-end-colour: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-colour: #fff;
    --background-start-colour: #0e1217;
    --background-end-colour: #0e1217;
  }
}

body {
  color: var(--foreground-colour);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-colour)
    )
    var(--background-start-colour);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
