@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "HirukoPro-Black";
    src: url("/fonts/HirukoPro-Black.ttf");
    font-weight: 700;
    font-style: normal;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
